* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}
img {
  width: 10rem;
  height: 10rem;
  border-radius: 8rem;
}
.container-head {
  background-color: #e7f5ff;
  border-radius: 3px;
  width: 100rem;
}
.main-header-logo {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 4rem 30rem;
}
.main-header-name {
  margin: 40px;
}
p {
  font-size: 40px;
}
.container-description {
  display: grid;
  grid-template-columns: repeat(2, 50rem);
  margin: 0 auto;
  border-radius: 3px;
  height: 26rem;
}
.description h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.description p {
  font-size: 18px;
  margin-top: 12px;
}
.description {
  background-color: #fff9db;
  padding: 6rem 5rem;
}
.projects h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.projects {
  background-color: #fff9db;
  padding: 6rem 5rem;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #ffe3e3;
  width: 100rem;
}
.footer p {
  font-size: 35px;
  text-align: center;
}
.links {
  margin-top: 9px;
}
.socials-insta {
  color: black;
  transition: color 0.2s;
  margin: 10px;
  font-size: 2rem;
}
.socials-insta:hover {
  color: #f03e3e;
}
.socials-fb {
  color: black;
  transition: color 0.2s;
  margin: 10px;
  font-size: 2rem;
}
.socials-fb:hover {
  color: #1c7ed6;
}
.socials-ln {
  color: black;
  transition: color 0.2s;
  margin: 0px 10px;
  font-size: 2rem;
}
.socials-ln:hover {
  color: #1864ab;
}
